body {
  background-color: Black;
  text-align: center;
}

h1 {
font-family: Verdana;
font-weight: normal;
font-size: 50px;
color: white;
text-align: center;
}

h2,
h3,
h4,
h5
 {
font-family: Verdana;
font-weight: 300;
font-size: 32px;
color: white;
text-align: center;


}

p {
  color: gray;
  font-family: Verdana;
  font-size: 21px;
}

.Link {
font-family: Verdana;
color: aquamarine;
font-size: 16px;

}
